    <a class="govuk-link govuk-link--no-visited-state" href="https://resources.companieshouse.gov.uk/serviceInformation.shtml#compInfo">Companies House does not verify the accuracy of the information filed</a> 
    <div class="govuk-!-margin-top-4 account-banner">
      <span style="padding-right: 20px;">{{ data['emailAddress'] }}</span>
      <span style="padding-right: 20px;"><a href="" id="your-details">Your details</a></span>
      <span style="padding-right: 20px;"><a href="" id="your-filings">Your filings</a></span>
      <span style="padding-right: 20px;"><a href="" id="companies-you-follow">Companies you follow</a></span>
      <span style="padding-right: 20px;"><a href="" id="your-basket">Basket(0)</a></span>
      <a href="#">Sign out</a>
    </div>