{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the new registered email address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% set serviceName %}
     Update a registered email address
{% endset%}
{% block beforeContent %}

  {% include "/includes/user-bar.html" %}
{% endblock %}




{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  {% include "/includes/back-link.html" %}
            <form class="form" action="check-your-answer" method="post">




        <div class="govuk-form-group">
          <span class="govuk-caption-m">LOWRIE'S BAKERY (SL012345)</span>
          <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="new-email">
          What is the new registered email address?
          </label>
          </h1>
          <p>The current registered email address is <strong>info@westham.co.uk</strong></p>      
         
         
          <input class="govuk-input" id="new-email" name="new-email" type="text" name="new-email" aria-describedby="event-name-hint">
        </div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What is the registered email address used for?
    </span>
  </summary>
  <div class="govuk-details__text">
     <p class="govuk-body">It is an email address that Companies House can use to contact the company or someone acting on its behalf. 
     <p class="govuk-body">In future we will start using it to send important information that relates to your company, for example new legislative requirements or warnings about missed deadlines.
     <p class="govuk-body">It will not be shown on the public register.</p>
  </div>
</details>

      
{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}
