{% extends "layouts/main.html" %}

{% set pageName="Confirm your presenter information" %}

{% block beforeContent %}
   {% include "/includes/back-link-language-toggle.html" %}
  {% include "/includes/user-bar.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<form class="form" action="/V1/confirm-presenter-information" method="post">
      <h1 class="govuk-heading-xl">Confirm your presenter information</h1>

{% if (data['what-type-of-presenter'] == "acsp") %}

     {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Presenter type"
            },
            value: {
              text: "ACSP"
            }
          },
          {
            key: {
              text: "ACSP number"
            },
               value: {
                  text: data['lpNumber'] or "SL012345"
               }
            },
            {
            key: {
              text: "ACSP member ID"
            },
               value: {
                  text: data['lpNumber'] or "GB012345"
               }
                 },
            {
            key: {
              text: "Email address"
            },
               value: {
                  text: data['lpNumber'] or "guy@lowriebakery.gmail"
               }
       }
          ]
        }) }}

{% else %}

     {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Presenter type"
            },
            value: {
              text: "TBC"
            }
          },
         
            {
            key: {
              text: "Email address"
            },
               value: {
                  text: data['lpNumber'] or "myemail@gmail.com"
               }
       }
          ]
        }) }}

{% endif %}

            
   {{ govukButton({
  text: "Continue"
}) }}

    </div>
  </div>
{% endblock %}