{% extends "layouts/main.html" %}
{% set pageName="What type of presenter are you?" %}

{% block beforeContent %}
{% include "/includes/phase-banner.html" %}
{% include "/includes/back-link-language-toggle.html" %}
{% include "/includes/user-bar.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorPresenterType %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}


    <form action="{{currentUrl}}" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="presenterType-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is your role in this filing?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <!-- ACSP doing a company filing -->
            {% if data['scenarios'] == 'acsp_company_filing' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-2" name="presenterType" type="radio" value="acspEmployee">
              <label class="govuk-label govuk-radios__label" for="presenterType-2">
                I'm an ACSP officer or employee
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-3" name="presenterType" type="radio" value="director">
              <label class="govuk-label govuk-radios__label" for="presenterType-3">
                I'm an officer or employee of NR1 TRADINGS LTD
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-4" name="presenterType" type="radio" value="employeeCorporate">
              <label class="govuk-label govuk-radios__label" for="presenterType-4">
                I'm part of a corporate director of NR1 TRADINGS LTD
              </label>
            </div>


            <!-- Sole trader ACSP doing a company filing -->
            {% elif data['scenarios'] == 'sole_acsp_company_filing' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType" name="presenterType" type="radio" value="acspSoleTrader">
              <label class="govuk-label govuk-radios__label" for="presenterType">
                I am the ACSP 
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-2" name="presenterType" type="radio" value="director">
              <label class="govuk-label govuk-radios__label" for="presenterType-2">
                I'm an officer or employee of NR1 TRADINGS LTD
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-3" name="presenterType" type="radio" value="employeeCorporate">
              <label class="govuk-label govuk-radios__label" for="presenterType-3">
                I'm part of a corporate director of NR1 TRADINGS LTD
              </label>
            </div>

            <!-- A verified company officer/ employee doing a company filing -->
            {% elif data['scenarios'] == 'verified_employee_company_filing' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType" name="presenterType" type="radio" value="director">
              <label class="govuk-label govuk-radios__label" for="presenterType">
                I'm an officer or employee of NR1 TRADINGS LTD
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-2" name="presenterType" type="radio" value="employeeCorporate">
              <label class="govuk-label govuk-radios__label" for="presenterType-2">
                I'm part of a corporate director of NR1 TRADINGS LTD
              </label>
            </div>

            <!-- An unverified company officer/ employee doing a company filing -->
            {% elif data['scenarios'] == 'unverified_employee_company_filing' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType" name="presenterType" type="radio" value="director">
              <label class="govuk-label govuk-radios__label" for="presenterType">
                I'm an officer or employee of NR1 TRADINGS LTD
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-2" name="presenterType" type="radio" value="employeeCorporate">
              <label class="govuk-label govuk-radios__label" for="presenterType-2">
                I'm part of a corporate director of NR1 TRADINGS LTD
              </label>
            </div>

            <!-- An ACSP doing an individual filing -->
            {% elif data['scenarios'] == 'acsp_individual_filing' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType" name="presenterType" type="radio" value="acspEmployee">
              <label class="govuk-label govuk-radios__label" for="presenterType">
                I'm an ACSP officer or employee
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-2" name="presenterType" type="radio" value="myself">
              <label class="govuk-label govuk-radios__label" for="presenterType-2">
                I'm an individual filing for myself
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-3" name="presenterType" type="radio" value="someoneElse">
              <label class="govuk-label govuk-radios__label" for="presenterType-3">
                I'm an individual filing on behalf of another person
              </label>
            </div>

            <!-- An sole trader ACSP doing an individual filing -->
            {% elif data['scenarios'] == 'sole_acsp_individual_filing' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType" name="presenterType" type="radio" value="acspSoleTrader">
              <label class="govuk-label govuk-radios__label" for="presenterType">
                I am the ACSP
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-2" name="presenterType" type="radio" value="myself">
              <label class="govuk-label govuk-radios__label" for="presenterType-2">
                I'm an individual filing for myself
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-3" name="presenterType" type="radio" value="someoneElse">
              <label class="govuk-label govuk-radios__label" for="presenterType-3">
                I'm an individual filing on behalf of another person
              </label>
            </div>

            <!-- An individual doing an individual filing -->
            {% elif data['scenarios'] == 'individual_filing' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType" name="presenterType" type="radio" value="myself">
              <label class="govuk-label govuk-radios__label" for="presenterType">
                I'm an individual filing for myself
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-2" name="presenterType" type="radio" value="someoneElse">
              <label class="govuk-label govuk-radios__label" for="presenterType-2">
                I'm an individual filing on behalf of another person
              </label>
            </div>

            <!-- An unverified individual doing an individual filing -->
            {% elif data['scenarios'] == 'unverified_individual_filing' %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType" name="presenterType" type="radio" value="myself">
              <label class="govuk-label govuk-radios__label" for="presenterType">
                I'm an individual filing for myself
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="presenterType-2" name="presenterType" type="radio" value="someoneElse">
              <label class="govuk-label govuk-radios__label" for="presenterType-2">
                I'm an individual filing on behalf of another person
              </label>
            </div>

            {% else%} 
              A N Other Company ltd
            {% endif %}
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

  </div>
</div>


{% endblock %}