{% extends "layouts/main.html" %}
{% set pageName="Confirm presenter statements" %}

{% block beforeContent %}
{% include "/includes/phase-banner.html" %}
{% include "/includes/back-link-language-toggle.html" %}
{% include "/includes/user-bar.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="{{currentUrl}}" method="post">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="statements-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                 Confirm the statement
              </h1>
            </legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <!-- ACSP -->
                {% if data['presenterType'] == "acspSoleTrader" %}
                <div class="govuk-hint">
                  We'll store your name and ACSP details to record that you submitted this filing. We will not show these details on the public register.
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="statements" name="statements" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="statements">
                    <p> I, Jamie Morgan, confirm I am:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>JAMES MORGAN ACSP</li>
                      <li>delivering a filing on behalf of NR1 TRADINGS LTD</li>
                      </ul>
                  </label>
                </div>


                <!-- acspEmployee -->
                {% elif data['presenterType'] == "acspEmployee" %} 
                <div class="govuk-hint">
                  We'll store your name and ACSP details to record that you submitted this filing. We will not show these details on the public register.
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="statements" name="statements" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="statements">
                   <p> I, Jamie Morgan, confirm I am:</p>
                   <ul class="govuk-list govuk-list--bullet">
                      <li>an officer or employee of MORGAN ACCOUTNING ACSP</li>
                      <li>delivering a filing on behalf of NR1 TRADINGS LTD</li>
                      </ul>
                  </label>
                </div>

                <!-- officer or employee -->
                {% elif data['presenterType'] == "director" %} 
                <div class="govuk-hint">
                  We'll store your details to record that you submitted this filing. We will not show these details on the public register.
                </div>



                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="statements" name="statements" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="statements">
                    <p> I, Jamie Morgan, confirm:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>I am an officer or employee of NR1 TRADINGS LTD</li>
                      <li>I am delivering a filing on behalf of NR1 TRADINGS LTD</li>
                      <li>my identity is verified</li>
                      <li>my date of birth is 2 September 1990</li>
                      <li>my personal code is HZ24-25P-5THL</li>

                      </ul>
                  </label>
                </div>


                <!-- corporate employee or officer -->
                {% elif data['presenterType'] == "employeeCorporate" %} 
                <div class="govuk-hint">
                  We'll store your details to record that you submitted this filing. We will not show these details on the public register.
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="statements" name="statements" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="statements">
                    <p> I, Jamie Morgan, confirm:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>I am an officer or employee of a corporate officer of NR1 TRADINGS LTD</li>
                      <li>I am delivering a filing on behalf of NR1 TRADINGS LTD</li>
                      <li>my identity is verified</li>
                      </ul>
                    </label>
                </div>


                <!-- Filing for myself -->
                {% elif data['presenterType'] == "myself" %} 
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="statements" name="statements" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="statements">
                    I confirm that my identity is verified
                  </label>
                </div>

                <!-- Filing for someone else -->
                {% elif data['presenterType'] == "someoneElse" %} 
                  <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="statements" name="statements" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="statements">
                    I'm filing on behalf of someone else
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="statements-2" name="statements" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="statements-2">
                    I confirm that my identity is verified
                  </label>
                </div>
                {% endif %} 
            </div>
          </fieldset>
        </div>

      <button class="govuk-button" data-module="govuk-button">
        Confirm and continue
      </button> 
    </form>

  </div>
</div>

{% endblock %}
