{% extends "layouts/main.html" %}

<!-- Hide service navigation-->
{% block header %}
{{ govukHeader({
  rebrand: true
}) }}
{% endblock %} 

{% set pageName="Enter your password" %}




{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
   {% include "/includes/back-link-language-toggle.html" %}
  
{% endblock %}






{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form class="form" action="gov-onelogin-enter-code" method="post">

      


{{ govukInput({
  label: {
    text: "Enter your password",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  id: "govOneLoginPassword",
  name: "govOneLoginPassword",
  type: "password"
}) }}

<p><a href="javascript:void(0)">I’ve forgotten my password</a></p>


    {{ govukButton({
    text: "Continue",
    classes: "govuk-button"
  }) }}
</form>
    </div>
  </div>

{% endblock %}
