{% extends "layouts/layout.html" %}
<!-- Overwrite suerfice name -->


{% block pageTitle %}
  {{ serviceName }} – Prototype
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% set serviceName %}
  
{% endset%}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds ">
    <form action="{{currentUrl}}" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="password">
            Enter your password
          </label>
        </h1>
        <input class="govuk-input govuk-!-width-two-thirds govuk-password-input govuk-input--with-password" id="password" name="password" type="password" spellcheck="false" autocomplete="off">
      </div>
      
      <p class="govuk-body">
        <a href="reset-password-check-email" class="govuk-link" rel="noreferrer noopener">I’ve forgotten my password</a>
      </p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
