{% extends "layouts/main.html" %}

<!-- Hide service navigation-->
{% block header %}
<!-- Companies House header -->
  <div style="background:#0b0c0c; padding:10px 0;">
    <div class="govuk-width-container" style="display:flex; align-items:center;">
      <a href="/shortcuts" style="text-decoration:none; margin-right:10px;">
        <img src="http://resources.companieshouse.gov.uk/images/royal-coat-of-arms-white.png"
             alt="UK Government crest" height="32">
      </a>
      <a href="https://www.gov.uk/government/organisations/companies-house"
         style="font-family:Helvetica,Arial,sans-serif;
                font-size:28px;
                font-weight:700;
                color:#efefef;
                text-decoration:none;">
        Companies House
      </a>
    </div>
  </div>

  <!-- Blue underline -->
  <div style="background-color:#005EA5; height:10px; width:100%;"></div>
{% endblock %}



{% set pageName="Sign in to WebFiling" %}

{% block beforeContent %}
  {% include "/includes/language-toggle.html" %}
  {% include "/includes/back-link.html" %}
 
   
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

 
  <form action="/V1/gov-onelogin-email" method="post">
      <br>
      <h1 class="govuk-heading-xl">
        What is your company number?
      </h1>
     <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    
  <div class="govuk-form">
    <label class="govuk-label" for="address-postcode">
      A company number is 8 characters long.
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
  </div>
</fieldset>
<div class="govuk-inset-text">
  If you have a company number that's 7 characters or less, enter zeros at the start so that it's 8 characters in total. For example, if it's 12345, enter 00012345.
</div>
    <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    How do I find the company number?
    </span>
  </summary>
  <div class="govuk-details__text">
    We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
  </div>
</details>
  </div>
</div>

    {{ govukButton({
    text: "Continue",
    href: "/V1/webfiling/sign-in-to-ch"
  }) }}
 </div>
</div>


</form>
  </div>
</div>

{% endblock %}