{% extends "layouts/main.html" %}

<!-- Hide service navigation-->
{% block header %}
{{ govukHeader({
  rebrand: true
}) }}
{% endblock %}

{% set pageName="Sign in to WebFiling" %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <form action="/V1/gov-onelogin-email" method="post">

      <h1 class="govuk-heading-l">
        Sign in to WebFiling
      </h1>
     
      <div class="govuk-inset-text">
        Your WebFiling account has changed.<a href=# class="govuk-link"> Read about the introduction of the new WebFiling account </a>.
      </div>


      <p>In WebFiling you can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>file your company's annual accounts</li>
        <li>file your company's confirmation statement</li>
        <li>file your company's director or secretary changes and other information</li>
        <li>sign up to get <a href=# class="govuk-link">email reminders </a>when your company's accounts and confirmation statement are due</li>
        <li>digitally authorise people to file for yout company online</li>
      </ul>

      <p class="govuk-heading-m"> Try our new File a confirmation statement service </p>

      <p class="govuk-body">If you have a private company limited by shares, with1to 5 officers (including directors and secretaries), up to 5 people with significant control, and 1 shareholder, you can use our <a href=# class="govuk-link">new File a confirmation statement service (opens in a new tab).</a> You will not be able to pay with a Companies House payment account.</p>

  {{ govukButton({
    text: "Sign in",
    href: "/V1/webfiling/govuk-login-registration"
  }) }}

<br>
  <p class="govuk-body"> <a href=# class="govuk-link">Create a new account </a></p>
  <p class="govuk-body"> <a href=# class="govuk-link">Who can use WebFiling</a></p>
  <p class="govuk-body"> <a href=# class="govuk-link">Read the WebFiling guidance</a></p>
  <p class="govuk-body"> <a href=# class="govuk-link">I need to file a charge (mortgage) document using a lender authentification code</a></p>

  


  
</div>

      
</form>
  </div>
</div>

{% endblock %}