{% extends "layouts/main.html" %}

{% set pageName="Choose test scenario" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
    classes: "govuk-header--full-width-border"
}) }}

{{ govukServiceNavigation({
}) }}
{% endblock %}

{% block beforeContent %}
  {% include "/includes/phase-banner.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/V1/update-rea/start" method="post">

<span class="govuk-caption-l">This screen would NOT be seen by users.</span>
<h1 class="govuk-heading-xl">Choose test scenario</h1>


      

{{ govukRadios({
  classes: "govuk-radios",
  name: "backEndVerification",
  fieldset: {
    legend: {
      text: "Choose backend verified or not",
      isPageHeading: true,
      classes: "govuk-visually-hidden"
    }
  },
  
  items: [
    {
      value: "backendVerified",
      text: "Backend - user is verified"
    },
    {
      value: "backendNotVerified",
      text: "Backend - user is not verified"
    }
  ]
}) }}


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   {{ govukRadios({
  classes: "govuk-radios",
  name: "acspLinking",
  fieldset: {
    legend: {
      text: "Choose ACSP link to account or not",
      isPageHeading: true,
       classes: "govuk-visually-hidden"
    }
  },
  
  items: [
    {
      value: "ACSPlinked",
      text: "ACSP - email is linked to account"
    },
    {
      value: "ACSPnotLinked",
      text: "ACSP - email is not linked to account"
    }
  ]
}) }}
    {{ govukButton({
  text: "Save and continue"
}) }}  



</form>
    </div>
  </div>
{% endblock %}
