{% extends "layouts/main.html" %}

{% set pageName="What is the company number?" %}

{% block beforeContent %}
   {% include "/includes/back-link-language-toggle.html" %}
  {% include "/includes/user-bar.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/V1/company-number-answer" method="post">



      {{ govukInput({
        label: {
          text: "What is the company number?",
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          html: "<p class='govuk-body'>Enter the 8 character company number. You can find this by searching for the company on the <a href='https://find-and-update.company-information.service.gov.uk/' class='govuk-link' rel='noreferrer noopener' target='_blank'>Companies House register (opens in new tab)</a>.
</p>"
        },
          classes: "govuk-!-width-one-half govuk-input--extra-letter-spacing govuk-!-margin-bottom-4",
        id: "lpNumber",
        name: "lpNumber",
        value: data['lpNumber']
      }) }}



<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
     My number is less than 8 characters
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class='govuk-body'>If you have a shorter company number, enter zeros at the start so that it's 8 characters in total. For example, if it's 12345, enter 00012345.</p>


  </div>
</details>

{{ govukButton({
  text: "Continue"
}) }}

</form>
    </div>
  </div>
{% endblock %}
