{% extends "layouts/main.html" %}

{% set pageName="Company authentication" %}

{% block beforeContent %}
   {% include "/includes/back-link-language-toggle.html" %}
  {% include "/includes/user-bar.html" %}
{% endblock %}





{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/V1/update-rea/change-email-address" method="post">



      <h1 class="govuk-heading-xl">Company authentication</h1>

<p>To file company information you will need an authentication code.</p>
<p>
Authenticating for<br>
<strong>	LOWRIE'S BAKERY (LP123456) </strong><p>

{{ govukInput({
  label: {
    text: "Authentication code",
    classes: "govuk-label--s",
    isPageHeading: true
  },
  id: "auth-code",
  name: "auth-code",
  classes: "govuk-!-width-one-half",
    type: 'password'
}) }}

    {{ govukButton({
  text: "Authenticate"
}) }}  

<p><a href="javascript:void(0)" class="govuk-link">Request an authentication code</p>

</form>
    </div>
  </div>
{% endblock %}
