{% extends "layouts/main.html" %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
   {% include "/includes/back-link-language-toggle.html" %}
  {% include "/includes/user-bar.html" %}
{% endblock %}

{% block content %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

<form action="/V1/confirm-acsp-statements-answer" method="post">

    {{ govukCheckboxes({
      name: "confirm-acsp-statements",
      fieldset: {
        legend: {
          text: "Confirm the ACSP presenter statements",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        { value: "I'm an Authorised Corporate Service Provider (ACSP), or an employee of one", text: "I'm an Authorised Corporate Service Provider (ACSP), or an employee of one" },
        { value: "I'm delivering a filing on behalf of the company", text: "I'm delivering a filing on behalf of the company" }
      ]
    }) }}
    {{ govukButton({
      text: "Save and continue",
      type: "submit"
    }) }}
  </form>
{% endblock %}