{% extends "layouts/main.html" %}

{% set pageName="Confirm this is the correct company" %}

{% block beforeContent %}
   {% include "/includes/back-link-language-toggle.html" %}
  {% include "/includes/user-bar.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/V1/confirm-correct-company-answer" method="post">
        <h1 class="govuk-heading-xl">Confirm this is the correct company</h1>
        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: { text: "Company name" },
              value: { text: "LOWRIE'S BAKERY" }
            },
            {
              key: { text: "Company number" },
              value: { text: data['lpNumber'] or "SL012345" }
            },
            {
              key: { text: "Status" },
              value: { text: "Active" }
            },
            {
              key: { text: "Registration date" },
              value: { text: "8 August 2019" }
            },
            {
              key: { text: "Company type" },
              value: { text: "Private limited" }
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %} 