{% extends "layouts/main.html" %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
   {% include "/includes/back-link-language-toggle.html" %}
  {% include "/includes/user-bar.html" %}
{% endblock %}

{% block content %}


  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <form action="/V1/confirm-director-statements" method="post">
  {{ govukCheckboxes({
    name: "director-statements",
    fieldset: {
      legend: {
        text: "Confirm the presenter statements",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      { value: "officer", text: "I am an officer or employee of the company, or an officer or employee of a corporate director of the company" },
      { value: "delivering", text: "I'm delivering a filing on behalf of the company" },
      { value: "verified", text: "I confirm that my identity is verified" }
    ]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
</form>
</div>
</div>
{% endblock %}