{% extends "layouts/main.html" %}

{% block content %}
  {% from "govuk/components/input/macro.njk" import govukInput %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Enter your presenter information</h1>
      <p class="govuk-body">Please provide the following information to continue.</p>
      <form action="company-number.html" method="get">
        {{ govukInput({
          label: {
            text: "Presenter type",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20",
          id: "presenter-type",
          name: "presenterType",
          autocomplete: "off"
        }) }}

        {{ govukInput({
          label: {
            text: "What is your ACSP number?",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "Must be between 6 and 8 digits long"
          },
          id: "acsp-number",
          name: "acspNumber",
          inputmode: "numeric",
          spellcheck: false,
          autocomplete: "off"
        }) }}

        {{ govukInput({
          label: {
            text: "ACSP member ID",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "acsp-member-id",
          name: "acspMemberId",
          autocomplete: "off"
        }) }}

        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20",
          id: "email-address",
          name: "emailAddress",
          autocomplete: "off"
        }) }}

        {{ govukButton({
          text: "Save and continue",
          type: "submit"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}