{% extends "layouts/main.html" %}
{% block header %}
{{ govukHeader({
  rebrand: true
}) }}
{% endblock %}
{% set pageName="Guide user to next steps" %}



{% block beforeContent %}
  {% include "/includes/phase-banner.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
  {% include "/includes/user-bar.html" %}
{% endblock %}




{% block content %}
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">Your identity is verified and connected to your Companies House account</h1>
  <p class="govuk-body">To view your Companies House personal code, go to <a class= "gov-link" href= "#"> Manage account (opens in new tab) </a> section of your Companies House account.
  <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a Companies House personal code?
          </span>
        </summary>
        <div class="govuk-details__text">
          This is an 11 character code that is given to a person after they have verified their identity with Companies House. 
        </div>
      </details>
  
  <p class="govuk-body"><strong>Check if there's anything else you need to do</strong></p>
  <p class="govuk-body">You may have to use your personal code to complete other tasks to comply with identity verification requirements. This depends on your role, and when you started that role. <br><br> To find out if there's anything else you need to do, <a class= "gov-link" href= "#"> check the guidance (opens
in new tab). </a>
  

       


{% endblock %}