{% extends "layouts/main.html" %}

{% set pageName="Guide user to next steps" %}



{% block beforeContent %}
  {% include "/includes/phase-banner.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
  {% include "/includes/user-bar.html" %}
{% endblock %}




{% block content %}
  

  <h1 class="govuk-heading-xl">Your identity is verified and connected to your Companies House account</h1>
  

        {{ govukButton({
    text: "Verify your identity",
    href: "#"
  }) }}


{% endblock %}