{% extends "layouts/main.html" %}
{% set pageName="Identity verification complete" %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
   {% include "/includes/back-link-language-toggle.html" %}
   {% include "/includes/user-bar.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  {% from "govuk/components/panel/macro.njk" import govukPanel %}

  {{ govukPanel({
    titleText: "Identity verification complete"
  }) }}

<div class="govuk-summary-card__title-wrapper">
  <p class="govuk-body">
    Your Companies House personal code is: <strong>G-X2N-R2D-2N9</strong><br><br>
    You can also see your code in the <a class= "gov-link" href= "#"> Manage account </a> section of your Companies House account.
  </p>
</div>
<br>
  <p class="govuk-body"> <strong>What a companies house personal code is</strong></p>
  <p class="govuk-body"> You will need to use your Companies House personal code to connect your verified identity to our records. This is so that we know the correct person is linked to the name we have on file. The code is personal to you, not your company or a company you work for.</p>
  <p class="govuk-body"> You'll need your personal code for various reasons. For example: </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>as part of some other company filings, such as the <a class= "gov-link" href= "https://www.gov.uk/guidance/confirmation-statement-guidance"> confirmation statement </a></li>
    <li>when you are appointed as a director</li>
    <li>if you become a <a class= "gov-link" href= "https://www.gov.uk/guidance/people-with-significant-control-pscs"> person with significant control (PSC)</a></li>
    </ul>

  <p class="govuk-body"> Your personal code is not the same as the <a class= "gov-link" href= "https://www.gov.uk/guidance/company-authentication-codes-for-online-filing"> company authentication code.</a> If you have an authentication code, you should continue to keep this safe.</p>
  <p class="govuk-body"> <strong> Only share the code with people you trust</strong></p>
  <p class="govuk-body"> You may need to share this code with people you trust to file on your behalf, or for your company. Keep this information secure, as you would with other unique codes such as your Unique Taxpayer Reference (UTR) for HMRC. <br><br>
  Identity verification makes it much more difficult for criminals to impersonate someone, but not impossible.</p>

  {{ govukButton({
    text: "Continue",
    type: "submit",
    href: "verify-identity-external-link.html"
  }) }}

  </div>
  </div>
{% endblock %}
