{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    <h1 class="govuk-heading-xl">
      Version 1 
    </h1>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="start.html"></a>
  </li>
  <li>
    <a class="govuk-link" href="govuk-login-registration.html">Create a GOV.UK OneLogin or Sign in</a>
  </li>
  <li>
    <a class="govuk-link" href="presenter-type-radio.html">What type of presenter are you?</a>
  </li>
  <li>
    <a class="govuk-link" href="confirm-acsp-statements.html">Confirm the ACSP statements</a>
  </li>
  <li>
    <a class="govuk-link" href="confirm-presenter-information.html">Confirm your presenter information</a>
  </li>
  <li>
    <a class="govuk-link" href="company-number.html">What is the company number?</a>
  </li>
  <li>
    <a class="govuk-link" href="confirm-correct-company.html">Confirm this is the correct company</a>
  </li>
  
  
  <li>
    <a class="govuk-link" href="company-authentification.html">Company authentication</a>
  </li>

   <li>
    <a class="govuk-link" href="error-page.html">You cannot access this service</a>
  </li>

  <li>
    <a class="govuk-link" href="confirm-director-statements.html">Confirm the officer/employee/corporate director statements</a>
  </li>

  <li>
    <a class="govuk-link" href="identity-verified-CH">Has your identity been verified for Companies House?</a>
    </a>
  </li>

  <li>
    <a class="govuk-link" href="enter-details.html">Enter your details</a>
    </a>
  </li>

  <li>
    <a class="govuk-link" href="verify-your-identity.html">Verify your identity for Companies House</a>
    </a>
  </li>

  <li>
    <a class="govuk-link" href="verify-identity-external-link.html">We're taking you to verify your identity with GOV.UK</a>
    </a>
  </li>

  <li>
    <a class="govuk-link" href="identity-verification-complete.html">Identity verification complete</a>
    </a>
  </li>

  <li>
    <a class="govuk-link" href="enter-details-error.html">Enter your details (error)</a>
    </a>
  </li>

</ul>
   


  </div>
</div>

{% endblock %}
