{% extends "layouts/main.html" %}
{% set pageName="What type of presenter are you?" %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
   {% include "/includes/back-link-language-toggle.html" %}
  {% include "/includes/user-bar.html" %}
{% endblock %}

{% block content %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% from "govuk/components/button/macro.njk" import govukButton %}


<form action="/V1/presenter-type-radio" method="post">
  {{ govukRadios({
    name: "what-type-of-presenter",
    fieldset: {
      legend: {
        text: "What type of presenter are you?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      { value: "acsp", text: "Authorised Corporate Service Provider (ACSP)" },
      { value: "acspEmployee", text: "Employee of an ACSP" },
      { value: "director", text: "Officer of the company" },
      { value: "employeeCompany", text: "Employee of the company" },
      { value: "employeeCorporate", text: "Employee of a corporate director of the company" },
      { value: "none", text: "None of the above" }
    ]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}
</form>


{% endblock %}