{% extends "layouts/main.html" %}

{% set pageName="Error Page" %}



{% block beforeContent %}
  {% include "/includes/phase-banner.html" %}
  {% include "/includes/back-link-language-toggle.html" %}
  {% include "/includes/user-bar.html" %}
{% endblock %}




{% block content %}
  

  <h1 class="govuk-heading-xl">You cannot file for this company</h1>
  <p class="govuk-body">You can only file for a company if you are one of the following:</p>

        <ul class="govuk-list govuk-list--bullet">
        <li>an Authorised Corporate Service Provider (ACSP), or an employee of one</li>
        <li>an officer or employee of the company</li>
        <li>an officer or employee of a corporate director of the company</li>
      </ul>


{% endblock %}