{% extends "layouts/main.html" %}
{% set pageName="We're taking you to verify your identity with GOV.UK" %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
   {% include "/includes/back-link-language-toggle.html" %}
   {% include "/includes/user-bar.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">We're taking you to verify your identity with GOV.UK</h1>


  {{ govukButton({
    text: "Verify your identity with GOV.UK",
    type: "submit",
    href: "identity-verification-complete.html"
  }) }}
</div>
</div>
{% endblock %}
