{% extends "layouts/main.html" %}
{% block header %}
{{ govukHeader({
  rebrand: true
}) }}
{% endblock %}
{% set pageName="We're taking you to verify your identity with GOV.UK" %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
   {% include "/includes/back-link-language-toggle.html" %}
   {% include "/includes/user-bar.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Prove your identity with GOV.UK One Login</h1>
  <p class="govuk-body">You'll need: </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your photo ID</li>
    <li>your current home address (you might also need your previous address if you've recently moved)</li>

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{{ govukInsetText({
  text: "This service is also available in Welsh (Cymraeg). Not all ways to prove your identity are available in Welsh yet."
}) }}

  {{ govukButton({
    text: "Continue",
    type: "submit",
    href: "loading-screen.html"
  }) }}
</div>
</div>
{% endblock %}
