{% extends "layouts/main.html" %}
{% set pageName="You need to verify your identity for Companies House" %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
   {% include "/includes/back-link-language-toggle.html" %}
   {% include "/includes/user-bar.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">You need to verify your identity for Companies House</h1>
  <p class="govuk-body">You cannot submit a filing on behalf of any company unless you have verified your identity for Companies House.</p>

  {{ govukButton({
    text: "Verify your identity",
    type: "submit",
    href: "verify-identity-external-link.html"
  }) }}
</div>
</div>
{% endblock %}