{% extends "layouts/main.html" %}
{% set pageName="You need to verify your identity for Companies House" %}

{% block beforeContent %}
   {% include "/includes/phase-banner.html" %}
   {% include "/includes/back-link-language-toggle.html" %}
   {% include "/includes/user-bar.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">We're taking you to verify your identity with GOV.UK One Login</h1>
  <p class="govuk-body">GOV.UK will ask you some simple questions to find the best way for you to verify your identity. Depending on the answers you provide, you'll then be
guided to use one of the following routes:
  <p class="govuk-body"> <strong> Route 1: Use the GOV.UK mobile phone app </strong> </p>
  <p class="govuk-body"> This is the fastest way to verify. GOV.UK One Login allows you to download an app that scans your biometric ID.</p>
  <p class="govuk-body"> The mobile app: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>is fast and simple</li>
      <li>works with any up-to-date mobile phone</li>
      <li>is secure - the app only communicates data, it doesn't store anything </li>
    </ul>
  <p class="govuk-body"> You can delete the app when you've finished. </p>
  <p class="govuk-body"> <a class= "gov-link" href= "https://www.gov.uk/guidance/proving-your-identity-with-the-govuk-one-login-app" target="_blank" rel="noopener noreferrer"> Check if your mobile phone can use the GOV.UK app (opens in new tab) </p>
</p>
</a>
  <p class="govuk-body"> <strong> Route 2: Verify online without the mobile app </strong> </p>
  <p class="govuk-body"> If you cannot verify using the mobile app, you can still verify online without it. You'll need to answer a few questions about yourself to confirm who you are. </p>
  <p class="govuk-body"> <strong> Route 3: Verify in person </strong> </p>
  <p class="govuk-body"> If you cannot verify using the mobile phone app or online, GOV.UK One Login will tell you how to verify in person at the Post Office. </p>
  {{ govukButton({
    text: "Continue",
    type: "submit",
    href: "verify-identity-external-link.html"
  }) }}
</div>
</div>
{% endblock %}