{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% set serviceName %}
  Presenters IDV prototype
{% endset%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Presenters IDV prototypes
    </h1>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-l">
      CHS
    </h2>

    <h2 class="govuk-heading-m">
      Alpha
    </h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Version</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="chs/alpha/v1/index">V1</a>
          </td>
          <td class="govuk-table__cell">
            June 2026
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Untested
            </strong>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">
      Discovery
    </h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Version</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/V1/index-v1.html">V1</a>
          </td>
          <td class="govuk-table__cell">
            August 2025
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Untested
            </strong>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-l">
      Web filing
    </h2>

    <h2 class="govuk-heading-m">
      Alpha
    </h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Version</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="webfiling/alpha/v1/index">V1</a>
          </td>
          <td class="govuk-table__cell">
            July 2026
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              Untested
            </strong>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">
      Discovery
    </h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Version</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/V2/index-v2.html">V1</a>
          </td>
          <td class="govuk-table__cell">
            July 2024
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              Tested
            </strong>
          </td>
        </tr>
      </tbody>
    </table>


    <!-- {% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Versions",
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: true,
  head: [
    {
      text: "Version"
    },
    {
      text: "Date"
    },
    {
      text: "Status"
    }
  ],
  rows: [
    [
      {
        html: '<a href="/V1/index-v1.html" class="govuk-link govuk-link--no-visited-state"> V1</a>'
      },
      {
        text: "August 2025"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--orange">
          Discovery prototype
        </strong>'
      }
    ],
    [
      {
        html: '<a href="/V2/index-v2.html" class="govuk-link govuk-link--no-visited-state"> V2</a>'
      },
      {
        text: "June 2025"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--orange">
          Alpha prototype
        </strong>'
      }
    ]
  ]
}) }} -->
  </div>
</div>

{% endblock %}
