{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% set serviceName %}
  Presenters IDV prototype
{% endset%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    <h1 class="govuk-heading-xl">
      Presenters IDV prototype
    </h1>

    {% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Versions",
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: true,
  head: [
    {
      text: "Version"
    },
    {
      text: "Date"
    },
    {
      text: "Status"
    }
  ],
  rows: [
    [
      {
        html: '<a href="/V1/index-v1.html" class="govuk-link govuk-link--no-visited-state"> V1</a>'
      },
      {
        text: "August 2025"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--orange">
          Discovery prototype
        </strong>'
      }
    ],
    [
      {
        html: '<a href="/V2/index-v2.html" class="govuk-link govuk-link--no-visited-state"> V2</a>'
      },
      {
        text: "June 2025"
      },
      {
        html: '<strong class="govuk-tag govuk-tag--orange">
          Alpha prototype
        </strong>'
      }
    ]
  ]
}) }}
  </div>
</div>

{% endblock %}
